<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WirebarleyDemo</title>
</head>
<body>
<div class="wrap">
    <div class="bottom">
        <h1>환율 계산</h1>

        <h3>송금국가: 미국(USD)</h3>
        <h3>수취국가:
            <select id="country"> <!-- select box 사용 한국, 일본 필리핀 -->
                <option title="USDKRW" value="KRW" selected="selected">한국(KRW)</option>
                <option title="USDJPY" value="JPY">일본(JPN)</option>
                <option title="USDPHP" value="PHP">필리핀(PHP)</option>
            </select>
        </h3>
    </div>
    <div id="id_c" class="bottom">
        <h3 id="current">환율:</h3>
    </div>
    <div class="bottom">
        <h3>송금액: <input id="deposite" type="number" value="100">USD</h3>
        <button type="button" id="submit">Submit</button>
        <h3 id="total"></h3>
    </div>
</div>
</body>
</html>