<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WirebarleyDemo</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body>
<div>
        <h1>환율 계산</h1>
        <div>
            <label><h3>송금국가: 미국(USD)</h3></label>
        </div>
        <div>
            <label>수취국가</label>
            <select id="country" onchange="categoryChange(this.value)"> <!-- select box 사용 한국, 일본 필리핀 -->
                <option value="">송금국가선택</option>
                <option title="USDKRW" value="KRW">한국(KRW)</option>
                <option title="USDJPY" value="JPY">일본(JPN)</option>
                <option title="USDPHP" value="PHP">필리핀(PHP)</option>
            </select>
        </div>
        <div>
            <label><h3> 환율 : <span id="todayRate"></span></h3></label>
            <input type="hidden" id="apiRate" th:value="0"/>
        </div>
        <div>
            <label>송금액 :</label>
            <input type="text" id="sendMoney" name="sendMoney">
        </div>
        <button onclick="calRate()">Submit</button>
    <div>
        <p id="message"></p>
    </div>
</div>
</body>
<script>

    let realtimeCur;
    let country;

    function categoryChange(e){
        country = e;
        let data = {
            key : e
        };
        $.ajax({
            url: "/getcurrency/live",
            data : data,
            type : "GET",
        }).done(function (response){
            realtimeCur  = response;
            $("#todayRate").text(realtimeCur).css("color", "blue");
        }).fail(function (response){
            alert('서버 오류')
            return false;
        });
    }

    function calRate(){
        let sendMoney = $("#sendMoney").val();

        if (sendMoney >= 0 && sendMoney <= 10000) {
            var result = realtimeCur * sendMoney;
            result = result.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $("#message").text("수취금액은 " + result + " " + country + " 입니다.").css("color","black");
            return;
        }

        $("#message").text("송금액이 바르지 않습니다.").css("color", "red");
    }


</script>
</html>